https://github.com/wazo-platform/wazo-confd/archive/master.zip
https://github.com/wazo-platform/wazo-calld-client/archive/master.zip
https://github.com/wazo-platform/wazo-auth-client/archive/master.zip
https://github.com/wazo-platform/xivo-lib-python/archive/master.zip
https://github.com/wazo-platform/xivo-dao/archive/master.zip
flask==1.0.2
sqlalchemy==1.2.18
SQLAlchemy-Utils==0.32.21
flask-restful==0.3.7
marshmallow==3.10.0
